@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Handlee&family=Satisfy&display=swap');

/* -------------                          css principale                                    ------------- */
body {
    width: 100%;
    height: auto;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    background-color: #e6eeec;
    color: #000103;
    padding: 0px;
    margin: 0px;
    
  }
  
  body header, body footer, body .prochainement {
    color: #c2b611;
    text-align: center;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
   
  header {
    border: 2px #070808 solid;
    background-color: #12724d;
    font-size:30px;
    padding-bottom: 5px;
    padding-bottom: 5px;
  }
  a {text-decoration: none;}
  footer a, header a { color: #c2b611; }
  
  .block {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            font-size:20px;
          
  }
  
 

/* animation zoom sur image */  
  .block__item__menu1 ,.block__item__menu2, .block__item__menu3, .block__item__menu4
 {
    border: 2px rgb(119, 116, 116) solid;  
    margin: 40px 20px 40px 20px;
    text-align: center;
    align-items: stretch;
    box-shadow: 2px 2px 2px rgb(119, 116, 116);
    
    opacity: 1;  
	  transition-property: opacity;
    transition-duration: 400ms;
  }
  .block__item__menu1 :hover  ,.block__item__menu2 :hover, .block__item__menu3 :hover, .block__item__menu4 :hover 
  {        
   opacity:0.8;
   transition-property: transform;
   transition: opacity 400ms;
   transform:scale(1.05) ;
  }
  
        .block__item__menu3
         {  
          background-color: #fcebf5;
          font-family: 'Satisfy', cursive;  
          padding: 262px 190px 204px 190px;
          word-spacing: -2px;
        }
        .block__item__menu3 p
        {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#241672+26,4a4277+53,677569+77 */
          background: #241672; /* Old browsers */
          background: -moz-linear-gradient(left,  #241672 26%, #4a4277 53%, #677569 77%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #241672 26%,#4a4277 53%,#677569 77%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #241672 26%,#4a4277 53%,#677569 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241672', endColorstr='#677569',GradientType=1 ); /* IE6-9 */
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
        }
       
        .block__item__menu1 {
          background-color: #fcc7e8;
          font-family: 'Devonshire', cursive;
          padding: 200px 150px 200px 150px;
          
        }
        .block__item__menu1 p
        {
        color: #a5200f;
        }

        .block__item__menu2
        {
          background-color: #e9dae3;
          font-family: 'Eagle Lake', cursive;
          padding: 200px 150px 200px 150px;          
        }
        .block__item__menu2 p
        {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57200f+26,591a61+56,241672+100 */
        background: #57200f; /* Old browsers */
        background: -moz-linear-gradient(left,  #57200f 26%, #591a61 56%, #241672 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #57200f 26%,#591a61 56%,#241672 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #57200f 26%,#591a61 56%,#241672 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57200f', endColorstr='#241672',GradientType=1 ); /* IE6-9 */
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        word-spacing: -4px;
        }

        .block__item__menu4 {
          background-color: #fdfafc;
          font-family: 'Handlee', cursive;           
          padding: 204px 180px 220px 180px;              
        }
        .block__item__menu4 p
        {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008a00+26,2a892a+53,677569+77 */
        background: #008a00; /* Old browsers */
        background: -moz-linear-gradient(left,  #008a00 26%, #2a892a 53%, #677569 77%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #008a00 26%,#2a892a 53%,#677569 77%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #008a00 26%,#2a892a 53%,#677569 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#677569',GradientType=1 ); /* IE6-9 */
        -webkit-text-fill-color: transparent;
         background-clip: text;
         -webkit-background-clip: text; 
        }
        
        
  .prochainement
   {
      border: 2px #070808 solid;
      border-radius: 10px;
      background-color: #12724d;
      margin-left: 330px;
      margin-right: 330px;
      margin-bottom: 100px;
      display: flex;
      align-items: center;
      padding-left: 200px;
    }
/* animation points de suspension s’animent progressivement */
    .prochainement div h2::after
    {    
      content: "...";	
      display: inline-block;
      font-size: 30px;
      overflow: hidden;
      animation-name: supensions;
      -webkit-animation-name: suspensions;
      animation-duration: 1.2s ;
      -webkit-animation-duration: 1.2s;
      animation-timing-function: step(4,end);
      -webkit-animation-timing-function: steps(4,end);
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      /*-webkit-animation: suspensions steps(4,end) 1.2s infinite;*/
    }
    @keyframes suspensions
{
	0%
	{
		width: 0;
	}
	50%
	{
		width: 20px;
	}
	100%
	{
		width: 40px;
	}
}
@-webkit-keyframes suspensions
{
	0%
	{
		width: 0;
	}
	50%
	{
		width: 20px;
	}
	100%
	{
		width: 40px;
	}
}
      
  footer {
      font-size: 30px;
      border: 2px #070808 solid;
      background-color: #12724d;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
      -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
     position: fixed;
     bottom: 0px;
     width: 95%;
     height: auto;
            }
  
 
 /* animation effet wiggle */
  footer div:hover
  {
   animation-name: secousses;
   -webkit-animation-name:secousses;
   animation-duration: 0,2s;
   -webkit-animation-duration: 0.2s;
   animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
   animation-timing-function: linear;
   -webkit-animation-timing-function: linear;	 
  }
 
  @keyframes secousses
  {
   0%
   {
     -webkit-transform: translateY(0px) ;
   } 
   10%
   {
     -webkit-transform: translateY(1px) ;
   } 
   20%
   {
     -webkit-transform: translateY(2px) ;
   }
   30%
   {
     -webkit-transform: translateY(2px) ;
   } 
   40%
   {
     -webkit-transform: translateY(1px);
   } 
   50%
   {
     -webkit-transform: translateY(0px) ;
   } 
   60%
   {
     -webkit-transform: translateY(-1px) ;
   }
   70%
   {
     -webkit-transform: translateY(-2px) ;
   }
 
   80%
   {
     -webkit-transform: translateY(-2px);
   } 
   90%
   {
     -webkit-transform: translateY(-1px) ;
   } 
   100%
   {
     -webkit-transform: translateY(0px);
   }
  }

  /* -------------                     css des autres pages html (menus)                  ------------- */
.menu1, .menu2, .menu3,.menu4
  {
    border: 2px rgb(119, 116, 116) solid;
    margin : 100px 120px 200px 120px;
    padding:  40px  40px  80px  40px;
    font-size: 30px;

  }
.menu__header ,.menu__header2 ,.menu__header3,.menu__header4, h3, .menu__footer
  {
    text-align: center;
  }  
.title , .containt
  {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* animation sur les titres des catégories surligné de gauche à droite */
  h3{
    position: relative;
  }
  h3:after {
    content: "";
    position: absolute;
    height: 6px;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 0%;
    transition: all 500ms ease-in-out;
  }
  h3:hover:after {
    width: 100%;
    opacity: 1;
  }
  
 
/* -----------------------                            menu1                        ----------------------------*/
i
{
   
   color: rgb(187, 67, 67);
} 
.menu1
{
  background-color: #fcc7e8;
  font-family: 'Devonshire', cursive;
  color: #a5200f;
}
.tdroite1, .tgauche1
  {
    width: 300px;
    fill: black;
  }
.menu__footer
  {
    text-align: center; 
  }
.menu__footer img{
    width: 80px
  }

   /*----------------------------------            menu2                ----------------------------------*/
.menu2
{
  background-color: #e9dae3;
  font-family: 'Eagle Lake', cursive;
  font-size: 15px;
}
.menu__header2 h2
{  
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57200f+26,591a61+56,241672+100 */
    background: #57200f; /* Old browsers */
    background: -moz-linear-gradient(left,  #57200f 26%, #591a61 56%, #241672 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #57200f 26%,#591a61 56%,#241672 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #57200f 26%,#591a61 56%,#241672 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57200f', endColorstr='#241672',GradientType=1 ); /* IE6-9 */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
 }    
.menu__entrée2
{
  color: #57200f; 
}

.tdroite2_1, .tgauche2_1
{
  width: 300px;
  fill: #57200f;
}
  
.menu__platderesistance2
{
  color: #591a61;
}
.tdroite2_2, .tgauche2_2
{
  width: 300px;
  fill: #591a61;
} 
.menu__dessert2
{
  color: #241672;
}
.tdroite2_3, .tgauche2_3
{
  width: 300px;
  fill: #241672;
}
    
    /* ------------------------------------     menu3               ---------------------------------------*/
.menu3
{
  background-color: #fcebf5;
  font-family: 'Satisfy', cursive;
}
.menu__header3 h2
{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#241672+26,4a4277+53,677569+77 */
background: #241672; /* Old browsers */
background: -moz-linear-gradient(left,  #241672 26%, #4a4277 53%, #677569 77%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #241672 26%,#4a4277 53%,#677569 77%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #241672 26%,#4a4277 53%,#677569 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#241672', endColorstr='#677569',GradientType=1 ); /* IE6-9 */
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-background-clip: text;
}

.tdroite3_1, .tgauche3_1
{
  width: 300px;
  fill: #241672;
}
  
  
.tdroite3_2, .tgauche3_2
{
  width: 300px;
  fill: #4a4277;
}  
.tdroite3_3,  .tgauche3_3
{
  width: 300px;
  fill: #c1c0c4;
}
 
/* --------------------------------                menu4                   ---------------------------- ---*/
.menu4
{
  background-color: #fdfafc;
  font-family: 'Handlee', cursive;
}
.menu__header4
{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008a00+26,2a892a+53,677569+77 */
  background: #008a00; /* Old browsers */
  background: -moz-linear-gradient(left,  #008a00 26%, #2a892a 53%, #677569 77%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  #008a00 26%,#2a892a 53%,#677569 77%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  #008a00 26%,#2a892a 53%,#677569 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a00', endColorstr='#677569',GradientType=1 ); /* IE6-9 */
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; 
}
.tdroite4, .tgauche4
{
  width: 300px;
}

   /* -------------                    responsive page principale avec 3 breackpoint               ------------- */
   
@media all and (max-width: 1200px)
{
  body
    {
      display: flex;
      flex-direction: column;
    }
   
  .block , .containt 
    {
      flex-direction: column;
      text-align: center;
    }
  .block__item__menu2
    {
      margin-bottom: 0px;
    }    
  .menu1, .menu2, .menu3,.menu4
    {
      border: 2px rgb(119, 116, 116) solid;
      margin : 80px 80px 220px 80px;
      padding: 30px;
      font-size: 15px;  
    }       
  .prochainement
    {
      margin-left: 60px;
      margin-right: 60px;  
      margin-bottom: 110px; 
      padding-left: 300px;  
    }
  footer
    {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
    } 
}

@media all and (max-width: 699px)
{
    body
    {
      display: flex;
      flex-direction: column;
    }
    .block , .containt{
     flex-direction: column;
     text-align: center;
    }
    .block__item__menu2
    {
      margin-bottom: 0px;
    }
    .menu1, .menu2, .menu3,.menu4
    {
      border: 2px #777474 solid;
      margin : 80px 80px 220px 80px;
      padding: 30px;
      font-size: 15px;
    }  
    .prochainement
    {
      margin-left: 60px;
      margin-right: 60px; 
      margin-bottom: 110px;  
      padding-left: 120px;  
    }
    footer
    {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 20px;
    }   
}      
@media all and (max-width: 499px)
    {
    body
    {
      display: flex;
      flex-direction: column;
    }    
    .block , .containt{
      flex-direction: column;
      text-align: center;
    }
    .block__item__menu2
    {
      margin-bottom: 0px;
    }
    .block__item__menu1 ,.block__item__menu2, .block__item__menu3, .block__item__menu4 
     {
      font-size: 15px;
      padding: 150px 50px 150px 50px;
     } 
     .menu1, .menu2, .menu3,.menu4
     {
      border: 2px rgb(119, 116, 116) solid;
      margin : 80px 80px 220px 80px;
      padding: 30px;
      font-size: 15px;   
     }
     .tdroite1, .tgauche1
     {
       width: 0px;
     }
     .prochainement
      {
       background-color: rgb(18, 114, 77);
       margin-left: 60px;
       margin-right: 60px;
       margin-bottom: 100px; 
       font-size: 15px;
       padding-left: 80px;
      }
      footer
      {
       display: flex;
       flex-direction: column;
       padding-top: 20px;
       padding-bottom: 20px;      
       font-size: 20px;
       position: relative;
       padding-left: 0px;

       position: fixed;
       bottom: 0px;
       width: 95%;
       height: auto;        
    } 
  }
   
  /*# sourceMappingURL=main.css.map */