/* ------------- couleur au niveau des différents menu ------------- */
$colour-menu1: #fcc7e8;
$colour-menu2: #e9dae3;
$colour-menu3: #fcebf5;
$colour-menu4: #fdfafc;
/* ------------- .block ------------- */
.block
{
    
    display:flex;
    flex-direction: row;
   
    justify-content: center;
       &__item
         {
            color: #e6eeec;
           
          }
         &__item__menu1, &__item__menu2, &__item__menu3, &__item__menu4
          {
           border: 2px rgb(119, 116, 116) solid;
           padding: 200px 180px 200px 180px;
           margin: 40px 20px 40px 20px;
           text-align: center;
           box-shadow: 2px 2px 2px rgb(119, 116, 116);
          }
      
          &__item__menu3 {
            padding-top: 260px;
            background-color: $colour-menu3;
            font-family: 'Satisfy', cursive;
          }
          
          &__item__menu1 {
            background-color: $colour-menu1;
            font-family: 'Devonshire', cursive;
            padding: 200px 140px 200px 140px;
          }
          
          &__item__menu2 {
            background-color: $colour-menu2;
            font-family: 'Eagle Lake', cursive;
            padding: 200px 140px 200px 140px;
          }
          &__item__menu4 {
            background-color: $colour-menu4;
            font-family: 'Handlee', cursive;
            padding-bottom: 213px;

          }
         
       
}