.prochainement
    {
        border: 2px rgb(7, 8, 8) solid;
        border-radius: 10px;
        background-color: rgb(18, 114, 77);
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 40px;
    }
    