/* ------------- couleur principale ------------- */
$colour-primary: #e6eeec;
$colour-secondary: rgb(194, 182, 17) ;

/* ------------- couleur au niveau des différents menu ------------- */
 $colour-menu1: #b86990;
 $colour-menu2: #dbd4d8;
 $colour-menu3: #cf9abb;
 $colour-menu4: snow;